templates_c/*
cache/*
config.inc.php
include/smarty/Smarty.class.php
include/phpreports/PHPReportsUtil.php
comprobantes/*
certificates/*
cfds/*
code/general/error_log.log
*.log
code/indices/error_log
error_log*
*error_log
audicel_dev_vacia.sql
code/especiales/biblioteca_archivos.zip
*.png
nbproject/*
*.xml
*.pdf
code/pdf/*.png
!code/reportes/*.xml
